<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>HESPERID'S GARDENS</title>
</head>

<div layout:fragment="content">
    <h2>Witaj na naszej stronie</h2>
    <p>Zajmujemy się kompleksowym tworzeniem wyczesanych kompozycji roślinnych.
        Jeśli chcesz mieć cudowny ogród, oranżerię bądź mieszkanie,
        w którym chcesz poczuć się blisko natury, to jesteś na dobrej drodze ;). Skontaktuj się z nami,
        a nasi specjaliści doradzą Ci jak spełnić to marzenie. Tworzymy projekty od zera i realizujemy je do końca.
        Dla nas nie ma rzeczy niemożliwych :).
        <br/>Zapraszmy do naszej strony kontaktowej.</p>
</div>
</html>