<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Layout title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
</head>
<body>
<div id="container" th:fragment="container">
    <header th:fragment="header">
        <div id="general_header" th:fragment="general_header">
            <span>solution for exercise 22.1</span>
        </div>
        <div id="app_header" th:fragment="app_header">
            <div id="logo" th:id="logo">HESPERID'S GARDENS</div>
            <div id="links" th:id="links">
            <a href="http://localhost:8080" class="button-header" th:class="button-header" th:href="@{/}">
                <button class="button-header">STRONA GŁÓWNA</button>
            </a>
            <a href="http://localhost:8080/kontakt" class="button-header" th:class="button-header"
               th:href="@{/kontakt}">
                <button class="button-header">KONTAKT</button>
            </a>
            </div>

        </div>
    </header>
    <main>
        <div id="middle-left" th:id="middle-left">
            <div layout:fragment="content"></div>
        </div>

        <div id="middle-right" th:id="middle-right">
            <div cite="https://www.pkt.pl/artykul/tworzenie-pieknych-ogrodow-33028">
                <img th:src="@{|/gallery/ogr_01.jpg|}" th:class="pic">
            </div>
            <div cite="https://fajnyogrod.pl/porady/piekne-ogrody-przydomowe-projekty-zdjecia-sprawdzone-pomysly/">
                <img th:src="@{|/gallery/ogr_02.jpg|}" th:class="pic">
            </div>
            <div cite="https://fajnyogrod.pl/porady/piekne-ogrody-przydomowe-projekty-zdjecia-sprawdzone-pomysly/">
                <img th:src="@{|/gallery/ogr_03.jpg|}" th:class="pic">
            </div>
            <!--            <div><img th:src="@{|/gallery/oranz_01.jpg|}" th:class="pic"></div>-->
        </div>
    </main>
    <footer id="footer" th:id="footer" th:fragment="footer">
        last update: May 31st '22 by KUBAMAK
    </footer>
</div>
</body>
</html>
