<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>błąd wysyłania wiadomości</title>
</head>

<div layout:fragment="content">
    <h2>Niestety nie udało się wysłać wiadomości.</h2>
    <p>Jest szansa, że uda nam się odzyskać chociaż część jej treści, jednak dla
        pewności proponujemy, by spróbować ponownie lub skontaktować się z nami innymi kanałami.</p>
</div>
</html>>